  <div class="forms">
    <form>
      <div class="field">
        <h2>Change details</h2>
      </div>
      <div class="field">
        <input
          type="text"
          pInputText
          placeholder="E-mail"
          formControlName="email" />
      </div>
      <div formGroupName="passwords">
        <div class="field">
          <input
            type="password"
            pInputText
            placeholder="Password"
            formControlName="password" />
        </div>

        <div class="field">
          <input
            type="password"
            pInputText
            placeholder="Repeat password"
            formControlName="repeatpassword" />
        </div>
      </div>
      <div class="buttons">
        <button id="signup-button" type="submit">Save</button>
      </div>
    </form>
  </div>
