
<div class="vertical-line">
    <h2>Zaplanuj swoją podróż z nami</h2>
    <section class="description">
      <p>
        Z nami możesz wygodnie zorganizować swój wyjazd. Panel planowania jest
         sercem podróży. Dzięki panelowi finansów już nie będziesz musiał martwić się o to, jak rozliczyć się z innymi członkami
         wycieczki. Panel wspomnień został stworzony dla Twojej przyjemności, tak aby żadna
         przygoda nie została zapomniana.
      </p>
    </section>

    <h2>Który kierunek obierzesz dzisiaj?</h2>
    <section class="map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d6284225.787944509!2d18.939708959550895!3d48.633464062326674!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spl!2spl!4v1694615006412!5m2!1spl!2spl">
      </iframe>
    </section> 


    <section class="contact">
      <h2>Kontakt</h2>
      <div class="contact-details">
        <div class="left">
          <p>E-mail: travelapp@gmail.com</p>
        </div>
        <div class="center">
          <p>Telefon: +48 123 456 789</p>
        </div>
        <div class="right">
          <p>Adres: ul. TravelApp, Kraków</p>
        </div>
      </div>
    </section>
  </div>
