<mat-toolbar>
  <mat-toolbar *ngIf="showNavbarItems">
    <img class="avatar mat-elevation-z8" src="assets/images/avatar.png" [routerLink]="['/home']" alt="avatar" />
    <h4 class="name" >{{(email)}}</h4>

    <span class="example-spacer"></span>

    <button mat-icon-button [matMenuTriggerFor]="settings">
      <mat-icon>face</mat-icon>
    </button>
    <mat-menu #settings="matMenu">
      <button mat-menu-item class="settings" routerLink="/email">
        <mat-icon>alternate_email</mat-icon>
        <span>Zmień email</span>
      </button>
      <button mat-menu-item routerLink="/password">
        <mat-icon>lock</mat-icon>
        <span>Zmień hasło</span>
      </button>
    </mat-menu>
    <!-- <button mat-icon-button (click)="authService.SignOut()">
      <mat-icon>exit_to_app</mat-icon>
    </button> -->

    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item class="menu" routerLink="/planning">
        <mat-icon>event</mat-icon>
        <span>Planowanie</span>
      </button>
      <button mat-menu-item routerLink="/finances">
        <mat-icon>monetization_on</mat-icon>
        <span>Finanse</span>
      </button>
      <button mat-menu-item routerLink="/memories">
        <mat-icon>forum</mat-icon>
        <span>Wspomnienia</span>
      </button>
      <button mat-menu-item (click)="authService.SignOut()">
        <mat-icon>exit_to_app</mat-icon>
        <span>Wyloguj</span>
      </button>
    </mat-menu>
  </mat-toolbar>
</mat-toolbar>