<mat-toolbar>
  <img
    class="avatar mat-elevation-z8"
    src="assets/images/avatar.png"
    [routerLink]="['/home']"
    alt="avatar" />
  <h4 class="name">E-mail</h4>

  <span class="example-spacer"></span>

  <button mat-icon-button routerLink="/settings">
    <mat-icon>face</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon>exit_to_app</mat-icon>
  </button>

  <button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item class="menu" routerLink="/planning">
      <mat-icon>event</mat-icon>
      <span>Planowanie</span>
    </button>
    <button mat-menu-item routerLink="/finances">
      <mat-icon>monetization_on</mat-icon>
      <span>Finanse</span>
    </button>
    <button mat-menu-item routerLink="/memories">
      <mat-icon>forum</mat-icon>
      <span>Wspomnienia</span>
    </button>
  </mat-menu>
</mat-toolbar>


