<section class="aktywności" [formGroup]="toppings">
    <h4>Wybierz rodzaj aktywności: </h4>
    <p><mat-checkbox formControlName="autostop">Autostop</mat-checkbox></p>
    <p><mat-checkbox formControlName="fotografia">Fotografia</mat-checkbox></p>
    <p><mat-checkbox formControlName="plaża">Plażowanie</mat-checkbox></p>
    <p><mat-checkbox formControlName="rowery">Rowery</mat-checkbox></p>
    <p><mat-checkbox formControlName="kemping">Kemping</mat-checkbox></p>
    <p><mat-checkbox formControlName="trekking">Trekking</mat-checkbox></p>
    <p><mat-checkbox formControlName="wspinaczka">Wspinaczka</mat-checkbox></p>
    <p><mat-checkbox formControlName="dziecko">Z dzieckiem</mat-checkbox></p>

    <h4>Wybierz środek transportu: </h4>
    <p><mat-checkbox formControlName="auto">Samochód</mat-checkbox></p>
    <p><mat-checkbox formControlName="pociąg">Pociąg</mat-checkbox></p>
    <p><mat-checkbox formControlName="autokar">Autokar</mat-checkbox></p>
    <p><mat-checkbox formControlName="samolot">Samolot</mat-checkbox></p>
    <p><mat-checkbox formControlName="motocykl">Motocykl</mat-checkbox></p>

</section>


<button class="buttons" (click)="onSubmit()">Dalej</button>
