<div class="memories-list">
    <div class="data-header">
        <button class="add-memory-btn" mat-raised-button extended routerLink="/memories-add">           
            Dodaj wspomnienie 
            <mat-icon>add</mat-icon> 
        </button>
    </div>
    <mat-divider></mat-divider>

    <div class="memories">
        <div class="memories-title">
            <h2>Twoje wspomnienia</h2>
            <date-picker></date-picker> 
        </div>
        <mat-divider></mat-divider>
        <br>
    
        <ul *ngIf="memoriesEmpty; else memoriesList">
            <li>Brak wspomnień</li>
        </ul>
    </div>
    
    <ng-template #memoriesList>
        <div class="memories-list">
            <div *ngFor="let memory of memories" class="memory-item">
                <app-memory [name]="memory.name" (click)="openDialog(memory)"></app-memory>
                <button mat-icon-button (click)="deleteMemory(memory)">
                    <mat-icon>remove</mat-icon>
                  </button>
            </div>
        </div>
        
    </ng-template>
</div> 

  
  
  
