<div class="memories-list">
    <div class="data-header">
        <h2>Data</h2>
        <button mat-icon-button routerLink="/memories-add">
            <mat-icon>add</mat-icon> 
        </button>
    </div>
    <mat-divider></mat-divider>
    <date-picker></date-picker>

    <h2>Twoje wspomnienia</h2>
    <mat-divider></mat-divider>
    <br>

    <ul *ngIf="memoriesEmpty; else memoriesList">
        <li>Brak wspomnień dla tej daty.</li>
    </ul>
    <ng-template #memoriesList>
        <div *ngFor="let memory of memories">
            <app-memory [name]="memory.name" (click)="openDialog(memory)"></app-memory>
        </div>
    </ng-template>
</div> 

  
  
  
