<div class="memories-list">
    <div class="data-header">
        <!-- <h2>Data</h2> -->
        <!-- <button mat-fab extended>
            Dodaj wspomnienie <mat-icon>add</mat-icon> 
          </button>
        <button mat-icon-button routerLink="/memories-add">
            <mat-icon>add</mat-icon> 
        </button> -->
        <!-- <date-picker></date-picker> -->
        <button class="add-memory-btn" mat-raised-button extended routerLink="/memories-add">           
            Dodaj wspomnienie 
            <mat-icon>add</mat-icon> 
        </button>
    </div>
    <mat-divider></mat-divider>
    <!-- <date-picker></date-picker> -->

    <div class="memories">
        <div class="memories-title">
            <h2>Twoje wspomnienia</h2>
            <date-picker></date-picker> 
        </div>
        <mat-divider></mat-divider>
        <br>
    
        <ul *ngIf="memoriesEmpty; else memoriesList">
            <li>Brak wspomnień dla tej daty.</li>
        </ul>
    </div>
    
    <ng-template #memoriesList>
        <div class="memories-list">
            <div *ngFor="let memory of memories" class="memory-item">
                <app-memory [name]="memory.name" (click)="openDialog(memory)"></app-memory>
            </div>
        </div>
        
    </ng-template>
</div> 

  
  
  
