.mat-divider{
    background-color: var(--secondary-color);
}

.data-header {
    display: flex;
    justify-content: end;
    align-items: center;
    margin-inline: var(--default-space);
    padding-block: var(--default-space);
}

.travels-title {
    display: flex;
    justify-content: space-between;
    margin-inline: var(--default-space);
}

.travels-list {
    margin-inline: var(--default-space);
}

/* .travel-item {
    padding-block: 5px;
} */

.add-travel-btn {
    border-radius: 10px;
    margin: 0px;
    height: var(--common-height);
}

@media screen and (max-width: 400px) {
    .travels-title  {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: var(--default-space);
    }

    .data-header {
        justify-content: center;
    }
  }

  .travel-item {
    list-style: none; /* Usuwa wypunktowanie */
    text-transform: capitalize; /* Zaczyna nazwę z wielkiej litery */
    background-color: #f0f0f0; /* Tło jest nieco ciemniejsze */
    color: var(--secondary-color);
    padding: 10px;
    margin-bottom: 5px;
    box-shadow: 5px 5px 5px gray;
    border-radius: 10px;
    font-weight: 700;
    transition: all .5s ease-in-out;
    height: var(--common-height);
    display: flex;
    justify-content: center;
    align-items: center;
}

.travel-item:hover {
    background-color: var(--primary-color-on-hover);
    cursor: pointer;
}

.travel-details {
    display: flex;
    align-items: center;
}
.travel-name {
    width: 50%;
    display: flex;
    justify-content: end;
}

.end-column {
    width: 50%;
    display: flex;
    justify-content: end;
}