<body>
  <div class="vertical-line">
    <h2>Plan your trip with us</h2>
    <section class="description">
      <p>
        With us you can conveniently organize your trip. The planning panel is
        the heart of the trip. Thanks to the finance panel, you will no longer
        have to worry about how to settle accounts with the other members of the
        trip. The memories panel was created for your enjoyment, so that no
        adventure will be forgotten.
      </p>
    </section>

    <h2>Which direction will you choose today?</h2>
    <section class="map">
      <iframe
        src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d6284225.787944509!2d18.939708959550895!3d48.633464062326674!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1spl!2spl!4v1694615006412!5m2!1spl!2spl">
      </iframe>
    </section>
    <section class="contact">
      <h2>Contact</h2>
      <div class="contact-details">
        <div class="left">
          <p>E-mail: travelapp@gmail.com</p>
        </div>
        <div class="center">
          <p>Phone number: +48 123 456 789</p>
        </div>
        <div class="right">
          <p>Adress: ul. TravelApp, Kraków</p>
        </div>
      </div>
    </section>
  </div>
</body>
