<!-- <button
  mat-icon-button
  *ngIf="sidenav.mode === 'over'"
  (click)="sidenav.toggle()">
  <mat-icon *ngIf="!sidenav.opened"> menu </mat-icon>
  <mat-icon *ngIf="sidenav.opened"> close </mat-icon>
</button>


<mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">
  <img
    class="avatar mat-elevation-z8"
    src="assets/images/avatar.png"
    [routerLink]="['/main']"
    alt="avatar" />

  <h4 class="name">E-mail</h4>

  <mat-divider></mat-divider>

  <button
    mat-button
    class="menu-button"
    routerLink="/planning"
    (click)="closeSidenav()">
    <mat-icon>event</mat-icon>
    <span>Planning</span>
  </button>
  <button
    mat-button
    class="menu-button"
    routerLink="/finances"
    (click)="closeSidenav()">
    <mat-icon>monetization_on</mat-icon>
    <span>Finances</span>
  </button>
  <button
    mat-button
    class="menu-button"
    routerLink="/memories"
    (click)="closeSidenav()">
    <mat-icon>forum</mat-icon>
    <span>Memories</span>
  </button>

  <mat-divider></mat-divider>

  <button
    mat-button
    class="menu-button"
    routerLink="/settings"
    (click)="closeSidenav()">
    <mat-icon>settings</mat-icon>
    <span>Settings</span>
  </button>

  <mat-divider></mat-divider>

  <button mat-button class="menu-button">
    <mat-icon>exit_to_app</mat-icon>
    <span>Logout</span>
  </button>
</mat-sidenav> -->
