<div class="travels-list">
  <div class="data-header">
    <button class="add-travel-btn" mat-raised-button extended routerLink="/add-wallet">
      Dodaj portfel
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <mat-divider></mat-divider>

  <div class="memories">
    <div class="memories-title">
      <h2>Twoje portfele</h2>
    </div>
    <mat-divider></mat-divider>
    <br>

    <ul *ngIf="memoriesEmpty; else memoriesList">
      <li>Brak portfeli</li>
    </ul>
  </div>

  <ng-template #memoriesList>
    <div class="memories-list">
      <div *ngFor="let wallet of finances" class="memory-item">
        <app-wallet [name]="wallet.name" [wallet]="wallet" (click)="openDialog(wallet)" (removeWalletEvent)="deleteWallet(wallet)"></app-wallet>
        <!-- <button mat-icon-button (click)="deleteWallet(wallet)">
          <mat-icon>remove</mat-icon>
        </button> -->
      </div>
    </div>
  </ng-template>