.travel-details {
    font-family: 'Arial', sans-serif;
    margin: 20px;
  }

  
  .weather-info {
    margin-top: 10px;
  }
  
  .standard-section {
    margin-top: 20px;
  }
  

  button {
    display: flex;
    justify-content: space-around;
    padding: 15px;
    background-color: #2e2e47;
    color: #ffb01d;
    width: 200px;
    border-radius: 10px;
    margin-bottom: 50px;
    margin-top: 50px;
  }
  
  .buttons {
    display: flex;
    justify-content: space-around;
    padding: 15px;
  }
  

  #signup-button:hover {
    background-color: var(--primary-color-on-hover);
    transition: all .5s ease-in-out;
  }