<div class="travel-details">
  <h2>Nazwa: {{ name }}</h2>

  <h4>Rzeczy do zabrania:</h4>

  <div class="standard-section">
    <h5>Standard</h5>
    <div *ngFor="let item of standardPackingList | async">
      <mat-checkbox [(ngModel)]="item.isChecked" (change)="onCheckboxChange(item)">{{ item.name }}</mat-checkbox>
    </div>
  </div>

  <div *ngFor="let activity of activityPackingList">
    <h5>{{ activity.activity }}</h5>
    <div *ngFor="let item of activity.items | async">
      <mat-checkbox [(ngModel)]="item.isChecked" (change)="onCheckboxChange(item)">{{ item.name }}</mat-checkbox>
    </div>
  </div>

  <button (click)="onNextClick()">Dodaj podróż</button>

</div>
