<div class="forms">
  <form>
    <div class="field">
      <h2>Log in</h2>
    </div>
    <div class="field">
      <input
        type="text"
        pInputText
        placeholder="E-mail"
        formControlName="email" />
    </div>
    <div class="field">
      <input
        type="password"
        pInputText
        placeholder="Password"
        formControlName="password" />
    </div>
    <div class="buttons">
      <button id="login-button" type="submit">Log in</button>
    </div>
  </form>

  <form>
    <register></register>
  </form>
</div>
