mat-form-field {
    width: 300px; /* Dostosuj szerokość do własnych potrzeb */
    margin: 10px; /* Dodaj marginesy według preferencji */
  }
  
button {
    padding: 10px 20px; /* Dostosuj padding do własnych preferencji */
    background-color: #2e2e47; /* Kolor tła */
    color: #ffb01d; /* Kolor tekstu */
    border: none; /* Usuwa obramowanie */
    border-radius: 5px; /* Zaokrąglony narożnik przycisku */
    cursor: pointer; /* Zmień kursor na wskaźnik */
    transition: background-color 0.3s ease; /* Dodaje płynne przejścia */
  
    /* Dodaj styl, który zmienia kolor tła przycisku po najechaniu myszką */
    &:hover {
      background-color: #3a3a4c;
    }
  }
  