<mat-form-field>
    <input matInput type="number" placeholder="Wprowadź koszt" [(ngModel)]="cost">
</mat-form-field>

<mat-form-field>
    <input matInput placeholder="Wprowadż opis" [(ngModel)]="description">
</mat-form-field>

<mat-select [formControl]="user">
    <mat-select-trigger>
      {{ user.value?.[0]?.email || '' }}
      <span *ngIf="(user.value?.length || 0) > 1">
        (+{{ (user.value?.length || 0) - 1 }} {{ user.value?.length === 2 ? 'other' : 'others' }})
      </span>
    </mat-select-trigger>
    <mat-option *ngFor="let user of walletUsers" [value]="user">{{ user.email }}</mat-option>
  </mat-select>
  
<button (click)="addPrice()">Dodaj</button>