<mat-form-field>
    <input matInput type="number" placeholder="Wprowadź koszt" [(ngModel)]="cost">
</mat-form-field>

<mat-form-field>
    <input matInput placeholder="Wprowadż opis" [(ngModel)]="description">
</mat-form-field>

<mat-form-field>
  <mat-label>Kto płacił</mat-label>
  <mat-select [(ngModel)]="whoPaid">
    <mat-option *ngFor="let people of ownersList" [value]="people">{{ people.email }} </mat-option>
  </mat-select>
</mat-form-field>
  
<button (click)="addPrice()">Dodaj</button>