mat-toolbar {
  background: #2e2e47;
  color: #ffb01d;
}
span {
  color: #2e2e47;
}


.example-spacer {
  flex: 1 1 auto;
}

.avatar {
  margin-top: 16px;
  margin-bottom: 16px;
  margin-right: 16px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.user-data {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80%;
  padding: 5px;
}

.user-data:hover {
  background-color: var(--primary-color-on-hover);
  cursor: pointer;
  border-radius: 10px;
}

