:root {
  --common-height: 56px;
  --default-space: 10px;
  --secondary-color: #ffb01d;
  --primary-color: #2e2e47;
  --primary-color-on-hover: #5a5a71;
}

body {
  padding: 0;
  margin: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

footer {
  background-color: #30304b;
  color:#ffb01d;
  position:fixed;
  bottom:0;
  width:100%;
  font-weight: bolder;
  font-size: 18px;
  z-index: 1000;
  height: 25px;
  }

button {
  height: var(--common-height);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.text-shadow {
  text-shadow: 2px 2px 4px #000000;
}

.title {
  background-color: var(--primary-color);
  color: var(--secondary-color) !important;
  border-radius: 15px;
}


.mat-divider{
  background-color: var(--secondary-color);
}

.item-to-take {
  display: flex;
  justify-content: space-evenly;
}