body {
  padding: 0;
  margin: 0;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

footer {
  background-color: #30304b;
  color:#ffb01d;
  position:fixed;
  bottom:0;
  width:100%;
  font-weight: bolder;
  font-size: 18px;
  z-index: 1000;
  height: 25px;
  }

button {
  height: 56px;
}
