<h2 mat-dialog-title class="title">{{ data.travel.name }}</h2>
<mat-dialog-content>
  <div *ngIf="weatherData" class="weather-info">
    <h2>Gdzie się wybierasz? {{ weatherData.sys.country }}, {{ weatherData.name }}</h2>
    <h2>Aktualna pogoda w tym miejscu: {{ weatherData.main.temp }} °C</h2>
  </div>

  <h5>Skład wycieczki:</h5>
  <ul>
    <li *ngFor="let member of tripMembers">
      {{ member }}
    </li>
  </ul>

  <mat-form-field>
    <mat-label>Users</mat-label>
    <mat-select [formControl]="user" multiple>
      <mat-option *ngFor="let user of userList" [value]="user" (click)="addMember(user.email)">{{ user.email
        }}</mat-option>
    </mat-select>
  </mat-form-field>

  <button (click)="chooseUsers()">Dodaj</button>


  <h5>Rzeczy do zabrania:</h5>
  <ul>
    <li *ngFor="let thing of visibleThings">
      {{ thing }}
      <button mat-icon-button (click)="removeThing(thing)">
        <mat-icon>remove</mat-icon>
      </button>
    </li>
  </ul>

  <div class="new-thing-container">
    <mat-form-field>
      <input matInput placeholder="Nowa rzecz" [(ngModel)]="newThing">
    </mat-form-field>

    <button mat-button (click)="addThing()">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <h5>Atrakcje:</h5>
  <ul>
    <li *ngFor="let visit of visibleVisits">
      <a href="{{ visit.link }}" target="_blank">{{ visit.place }}</a>
      <button mat-icon-button (click)="removeVisit(visit)">
        <mat-icon>remove</mat-icon>
      </button>
    </li>
  </ul>

  <div class="new-visit-container">
    <mat-form-field>
      <input matInput placeholder="Nowa atrakcja" [(ngModel)]="newVisit">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Link do atrakcji" [(ngModel)]="newVisitLink">
    </mat-form-field>

    <button mat-button (click)="addVisit()">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <h5>Noclegi:</h5>
  <ul *ngIf="data.travel.selectedHotel">
    <li *ngFor="let hotel of visibleHotel">
      <a href="{{ hotel.link }}" target="_blank">{{ hotel.place }}</a>
      <button mat-icon-button (click)="removeHotel(hotel)">
        <mat-icon>remove</mat-icon>
      </button>
    </li>
  </ul>

  <div class="new-hotel-container">
    <mat-form-field>
      <input matInput placeholder="Nowy nocleg" [(ngModel)]="newHotel">
    </mat-form-field>

    <mat-form-field>
      <input matInput placeholder="Link do noclegu" [(ngModel)]="newHotelLink">
    </mat-form-field>

    <button mat-button (click)="addHotel()">
      <mat-icon>add</mat-icon>
    </button>
  </div>


  <h5>Wydatki:</h5>

  <mat-form-field>
      <mat-label>Wallets</mat-label>
      <mat-select [formControl]="wallet">
          <mat-select-trigger>
              {{ wallet.value || '' }}
          </mat-select-trigger>
          <mat-option *ngFor="let wallet of walletList" [value]="wallet.name">{{ wallet.name }}</mat-option>

      </mat-select>
  </mat-form-field>
  <mat-dialog-actions>
    <button mat-button (click)="addWallet()">Dodaj do podróży</button>
</mat-dialog-actions>

<h5>Wspomnienia: </h5>
<button mat-raised-button (click)="openDialog()">Dodaj wspomnienie</button>

<div *ngIf="data.travel.memory">
  <div *ngFor="let memory of data.travel.memory">
    <h6>Nazwa: {{ memory.name }}</h6>
    <p>Opis: {{ memory.description }}</p>
    <p>Data dodania: {{ memory.date.toDate() | date: 'yyyy-MM-dd HH:mm:ss' }}</p>
  </div>
</div>





</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>Zamknij</button>
</mat-dialog-actions>


